## Do not store local vagrant files
#
.vagrant

## Ignore for chef
#
data_bags/users/deploy.json
data_bags/users/vagrant.json
nodes/127.0.0.1.json

## Rails app ignores
#
log/*.log
tmp/**/*
/db/*.sqlite3
/public/system
config/initializers/secret_token.rb
/.bundle
/vendor/bundle